/* ******************** */
/* Reset */
/* ******************** */
* {
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: lightblue;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 38px;
}

ul {
  list-style: none;
  text-align: left;
  margin-bottom: 15px;
}

li {
  text-align: left;
}

button {
  border-radius: 4px;
  padding: 10px 10px;
  cursor: pointer;
}

/* ******************** */
/* Game */
/* ******************** */

#canvas {
  display: block;
  border: 3px solid orange;
  background: transparent;
  background-image: linear-gradient(0deg, transparent 24%,
    rgba(255, 255, 255, .05) 25%,
    rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%,
    rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}

#startGame {
  top: 45%;
  left: 45%;
}

/* ******************** */
/* Display */
/* ******************** */

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

/* ******************** */
/* Flex */
/* ******************** */

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

/* ******************** */
/* Text */
/* ******************** */

.color-white {
  color: white;
}

.color-blue {
  color: lightblue;
}

.color-green {
  color: lightgreen;
}

.color-black {
  color: black;
}

.bold {
  font-weight: bold;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.text-center {
  text-align: center;
}

/* ******************** */
/* Margin */
/* ******************** */

.mb-25 {
  margin-bottom: 25px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-6 {
  margin-bottom: 6px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-0 {
  margin-left: 0;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-10 {
  margin-top: 10px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ******************** */
/* Padding */
/* ******************** */

.p-15 {
  padding: 15px;
}

/* ******************** */
/* Backgrounds & Borders */
/* ******************** */

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.btn-orange {
  background-color: orange;
  border: 2px solid orange;
}

/* ******************** */
/* Utils */
/* ******************** */

.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}
