* {
  margin: 0 auto;
  padding: 0;
}

header {
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid black;
  margin: 0;
  background: white;
}

body {
  background: black;
}

#userInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h1 {
  font-size: 38px;
}

#bombsDisplay {
  margin: auto;
  font-size: 18px;
  color: lightgreen;
}

#canvas {
  display: block;
  margin: auto;
  margin-left: 25px;
  background: black;
  border: 3px solid orange;
}

#points {
  font-size: 26px;
  color: white;
}

#container {
  display: flex;
}

#controls {
  size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
  color: white;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin-top: 5px;
}

#gameOver {
  color: red;
  font-size: 20px;
}

#livesDisplay {
  color: lightblue;
  font-style: bold;
  font-size: 20px;
}
